@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
*{
	margin:0;
	padding:0;
}
img{
	max-width: 100%;
}
body{
	color: #767676;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	background: #fff;
}
ul{
	list-style: none; 
}
ul li{
	float: left;
}
a{
	color: #767676;
}

.header-conteiner{
	background: #dcdcdc;
	width: 100%;
	overflow: hidden;

}
	.mar_left{

			margin-left: 10%;	
	}	
	.mar_right{

			margin-right: 10%;
	}
	.gray_76{
		color: #767676;
	}
	.header__logo{
		padding-top: 64px;
		padding-bottom: 64px;
		float: left;





/*HEADER*/
	}
	.header__kontakts{
		float: right;
		margin-top: 46px;
	}
		.header__kontakts-tels{
			font-size: 40px; 
			font-family: 'Open Sans Condensed', sans-serif;
			line-height: 1.2;
			text-align: right;
		}
		.header__kontakts-osviaz{
			font-size: 24px;
			font-family: 'Times New Roman', sans-serif;
			text-align: right;

		}
		.header__kontakts-osviaz a{
			border-bottom: 1px dashed #767676;
			text-decoration: none;
		}
		.header__kontakts-osviaz a:hover{
			color:#B6B8AB;
			border-bottom: 1px dashed #B6B8AB;
		}




/*MENU*/
.menu{
	background: #777777;
	padding-top: 25px;
	padding-bottom: 33px;
	font-size: 30px;
	overflow: hidden;
}
.menu ul li{
line-height: 1;
border-right: 2px solid #fff;
}

.menu ul li a{
max-height: 30px;
color: #fff;
font-size: 30px;
text-decoration: none;
padding-right: 23px;
padding-left: 23px;
display: table;
/*border-bottom: 2px solid transparent;*/
}
.menu ul li:last-child{
border-right: none;
}
.menu ul li a:hover{
text-decoration: underline;
/*border-bottom: 2px solid #fff;*/
	}



/*SLIDER*/
.slides{
	background: #FFF url(../img/bg_slider.gif) repeat repeat;
}
.flex-control-paging{
	display: none;
}



/*CONTENT*/
.content__breadkramps{
	margin-top: 0px;
	padding: 10px 0 8px;
	display: block;
	overflow: hidden;
}
		.content__breadkramps ul li a{
		padding-right: 5px;
		content: "/";
		}

		.content__breadkramps ul li a:last-child:hover{
		text-decoration: underline !important;
		}
	.content__breadkramps ul li:after {
		content: "/";
		padding-right: 7px;
	}
	.content__breadkramps ul li:last-child:after {
		content: "";
		padding-right: 7px;
	}
	.link_active{
		text-decoration: none; 
	}

/*SLIDEBAR*/
.catalog{

}

.category{
	overflow: hidden;
}
ul.category-menu{
/*display: block;*/
overflow: hidden;
	/*list-style-type: disc;*/
}
.category ul li{
	float: none;

}
ul.category__inner{
	/*display: block;*/
	list-style-type: disc;
	overflow: hidden;
}
ul.category__inner li{
margin-left: 5px;
float: none;
	}